@model ShiftManagerProject.Models.ShiftPref

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>
    <hr />

    @{
        List<SelectListItem> NoOfShifts = new List<SelectListItem>();

        NoOfShifts.Add(new SelectListItem
        {
            Text = "3",
            Value = "3"

        });
        NoOfShifts.Add(new SelectListItem
        {
            Text = "4",
            Value = "4",
        });
        NoOfShifts.Add(new SelectListItem
        {
            Text = "5",
            Value = "5"
        });
    }
    @{
        var id = Int32.Parse(Request.Url.Segments.Last());
    }

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.HiddenFor(model => model.ID, new { ID = id })
            <div class="col-md-10">
                @Html.ValidationMessageFor(model => model.ID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.NoOfShifts, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.NoOfShifts, NoOfShifts, "-- Select NoOfShifts --")
                @Html.ValidationMessageFor(model => model.NoOfShifts, "", new { @class = "text-danger" })
            </div>
        </div>

        <br />
        <h2>Sunday</h2>
        <br />

        <div class="form-group">
            @Html.LabelFor(model => model.Morning1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Morning1)
                    @Html.ValidationMessageFor(model => model.Morning1, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Afternoon1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Afternoon1)
                    @Html.ValidationMessageFor(model => model.Afternoon1, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Night1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Night1)
                    @Html.ValidationMessageFor(model => model.Night1, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <br />
        <h2>Monday</h2>
        <br />

        <div class="form-group">
            @Html.LabelFor(model => model.Morning2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Morning2)
                    @Html.ValidationMessageFor(model => model.Morning2, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Afternoon2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Afternoon2)
                    @Html.ValidationMessageFor(model => model.Afternoon2, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Night2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Night2)
                    @Html.ValidationMessageFor(model => model.Night2, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <br />
        <h2>Tuesday</h2>
        <br />

        <div class="form-group">
            @Html.LabelFor(model => model.Morning3, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Morning3)
                    @Html.ValidationMessageFor(model => model.Morning3, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Afternoon3, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Afternoon3)
                    @Html.ValidationMessageFor(model => model.Afternoon3, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Night3, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Night3)
                    @Html.ValidationMessageFor(model => model.Night3, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <br />
        <h2>Wednesday</h2>
        <br />

        <div class="form-group">
            @Html.LabelFor(model => model.Morning4, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Morning4)
                    @Html.ValidationMessageFor(model => model.Morning4, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Afternoon4, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Afternoon4)
                    @Html.ValidationMessageFor(model => model.Afternoon4, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Night4, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Night4)
                    @Html.ValidationMessageFor(model => model.Night4, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <br />
        <h2>Thursday</h2>
        <br />

        <div class="form-group">
            @Html.LabelFor(model => model.Morning5, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Morning5)
                    @Html.ValidationMessageFor(model => model.Morning5, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Afternoon5, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Afternoon5)
                    @Html.ValidationMessageFor(model => model.Afternoon5, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Night5, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Night5)
                    @Html.ValidationMessageFor(model => model.Night5, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <br />
        <h2>Friday</h2>
        <br />

        <div class="form-group">
            @Html.LabelFor(model => model.Morning6, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Morning6)
                    @Html.ValidationMessageFor(model => model.Morning6, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Afternoon6, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Afternoon6)
                    @Html.ValidationMessageFor(model => model.Afternoon6, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Night6, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Night6)
                    @Html.ValidationMessageFor(model => model.Night6, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <br />
        <h2>Saturday</h2>
        <br />

        <div class="form-group">
            @Html.LabelFor(model => model.Morning7, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Morning7)
                    @Html.ValidationMessageFor(model => model.Morning7, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Afternoon7, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Afternoon7)
                    @Html.ValidationMessageFor(model => model.Afternoon7, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Night7, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Night7)
                    @Html.ValidationMessageFor(model => model.Night7, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <br /><br />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
