@model ShiftManagerProject.Models.FinalShift

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
}
<br /><br />
<h2 style="text-align:center;">Edit</h2>
@{
    List<SelectListItem> listofNames = new List<SelectListItem>();

    foreach (var name in Model.Employees)
    {
        listofNames.Add(new SelectListItem
        {
            Text = name.FirstName,
            Value = name.FirstName
        });
    }
}
<link rel="stylesheet" type="text/css" href="~/Content/EditFinalShift.css" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.OfDayType)
    @Html.HiddenFor(model => model.Dates)

    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Name, listofNames, "-- Select Worker --")
            <input id="OpenAllEmployees" type="button" value="Open all employees" class="btn btn-primary btn-sm btn btn-info" onclick="if (confirm('Are you sure you want to open all employees??')) location.href='@Url.Action("Edit", "FinalShifts", new { id = Model.ID ,confirmed = true })'" />
            <br />
            <input id="Open88Employees" type="button" value="Open 8/8 employees" class="btn btn-primary btn-sm btn btn-info" onclick="if (confirm('Are you sure you want to open 8-8 available employees??')) location.href='@Url.Action("Edit", "FinalShifts", new { id = Model.ID ,confirmed = false })'" />
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Day, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Day, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Day, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(model => model.Morning, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @if (Model.Morning.HasValue)
                {
                    <mark> @Html.DisplayTextFor(Model => Model.Morning) </mark>
                }
                @Html.HiddenFor(model => model.Morning)
                @Html.ValidationMessageFor(model => model.Morning, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(model => model.Afternoon, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @if (Model.Afternoon.HasValue)
                {
                    <mark> @Html.DisplayTextFor(Model => Model.Afternoon) </mark>
                }
                @Html.HiddenFor(model => model.Afternoon)
                @Html.ValidationMessageFor(model => model.Afternoon, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(model => model.Night, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @if (Model.Night.HasValue)
                {
                    <mark> @Html.DisplayTextFor(Model => Model.Night) </mark>
                }
                @Html.HiddenFor(model => model.Night)
                @Html.ValidationMessageFor(model => model.Night, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to Table", "Index")
</div>
