@model IEnumerable<ShiftManagerProject.Models.FinalShift>

@{
    ViewBag.Title = "This Week's Shifts";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int j = 0;

    DateTime nextSunday = DateTime.Now.AddDays(1);
    while (nextSunday.DayOfWeek != DayOfWeek.Sunday)
    { nextSunday = nextSunday.AddDays(1); }
    var NextWeek = Convert.ToDateTime(nextSunday).ToString("dd/MM/yyyy");
}
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
<script src="~/Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="~/Content/FinalShiftIndex.css" />

<br /><br />
<h2>Next Week's Shifts - @NextWeek</h2>
<br /><br />
@Html.ActionLink("Redo", "NewClose", "FinalShifts", new { @class = "btn btn-success", @id = "RedoBTN" })
<br /><br />
<div class='table-responsive'>
    <table id="tablePreview" class="table table-hover table-bordered" style="width:100%;text-align:center;">
        <tr class="table-active">
            <th>
            </th>
            @foreach (var item in Model.Select(x => x.Day).Distinct())
            {
                <th>
                    @Html.DisplayFor(x => item)
                </th>
            }
        </tr>

        @foreach (var items in Model.Take(1))
        {
            <tr>
                <td class="table-info">
                    @Html.DisplayNameFor(model => model.Morning)
                </td>
                @foreach (var Mshift in Model.Where(x => x.Morning == true).OrderBy(m => m.OfDayType))
                {

                    if (Mshift.OfDayType == j)
                    {

                        j += 4;
                        if (Mshift.Name.IsEmpty())
                        {
                            <td>
                                @Html.ActionLink("Update", "Edit", new { id = Mshift.ID }, new { @class = "badge badge-danger" })
                            </td>
                        }
                        else
                        {
                            <td>
                                @Html.ActionLink(Mshift.Name, "Edit", new { id = Mshift.ID })
                            </td>
                        }

                    }
                }
            </tr>

            j = 1;
            <tr>
                <td></td>
                @foreach (var Mshift in Model.Where(x => x.Morning == true).OrderBy(m => m.OfDayType))
                {

                    if (Mshift.OfDayType == j)
                    {

                        j += 4;
                        if (Mshift.Name.IsEmpty())
                        {
                            <td>
                                @Html.ActionLink("Update", "Edit", new { id = Mshift.ID }, new { @class = "badge badge-danger" })
                            </td>
                        }
                        else
                        {
                            <td>
                                @Html.ActionLink(Mshift.Name, "Edit", new { id = Mshift.ID })
                            </td>
                        }


                    }
                }
            </tr>
        }
        @{ j = 2;}
        @foreach (var items in Model.Take(1))
        {
            <tr>
                <td class="table-success">
                    @Html.DisplayNameFor(model => model.Afternoon)
                </td>

                @foreach (var Ashift in Model.Where(x => x.Afternoon == true).OrderBy(m => m.OfDayType))
                {

                    if (Ashift.OfDayType == j)
                    {
                        j += 4;
                        if (Ashift.Name.IsEmpty())
                        {
                            <td>
                                @Html.ActionLink("Update", "Edit", new { id = Ashift.ID }, new { @class = "badge badge-danger" })
                            </td>
                        }
                        else
                        {
                            <td>
                                @Html.ActionLink(Ashift.Name, "Edit", new { id = Ashift.ID })
                            </td>
                        }
                    }

                }
            </tr>
        }
        @{ j = 3;}

        @foreach (var items in Model.Take(1))
        {
            <tr>
                <td class="table-warning">
                    @Html.DisplayNameFor(model => model.Night)
                </td>
                @foreach (var Nshift in Model.Where(x => x.Night == true).OrderBy(m => m.OfDayType))
                {

                    if (Nshift.OfDayType == j)
                    {
                        j += 4;
                        if (Nshift.Name.IsEmpty())
                        {
                            <td>
                                @Html.ActionLink("Update", "Edit", new { id = Nshift.ID }, new { @class = "badge badge-danger" })
                            </td>
                        }
                        else
                        {
                            <td>
                                @Html.ActionLink(Nshift.Name, "Edit", new { id = Nshift.ID })
                            </td>
                        }
                    }
                }
            </tr>
        }

    </table>
</div>

<br /><br />
@{
    if (@ViewBag.admin != 0)
    {
        <h2>Offically Closed!</h2>
    }
    else
    {
        @Html.ActionLink("Submit", "Send", "", new { @class = "btn btn-outline-danger" })
    }
}
<br />


