@model IEnumerable<ShiftManagerProject.Models.ShiftPref>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Morning7)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Afternoon7)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Night7)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Morning6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Afternoon6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Night6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Morning5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Afternoon5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Night5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Morning4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Afternoon4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Night4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Morning3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Afternoon3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Night3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Morning2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Afternoon2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Night2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Morning1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Afternoon1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Night1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoOfShifts)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Morning7)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Afternoon7)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Night7)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Morning6)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Afternoon6)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Night6)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Morning5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Afternoon5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Night5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Morning4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Afternoon4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Night4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Morning3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Afternoon3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Night3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Morning2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Afternoon2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Night2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Morning1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Afternoon1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Night1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Message)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoOfShifts)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
