@model IEnumerable<ShiftManagerProject.Models.PrevWeeks>

@{
    ViewBag.Title = "Previous Shifts";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<SelectListItem> listofNames = new List<SelectListItem>();

    foreach (var name in @ViewBag.Employees)
    {
        listofNames.Add(new SelectListItem
        {
            Text = name.FirstName,
            Value = name.FirstName
        });
    }
}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="~/Content/IndexPrev.css" />
<link rel="stylesheet" type="text/css" media="print" href="~/Content/IndexPrevPrint.css" />
<br />
<h2>Shift History</h2>
<br /><br />

<a id="position" class="btn btn-success btn-sm no-print" href="javascript:window.print()">Print</a>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container-fluid bg-light no-print">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-2 pt-3">
                <div class="form-group ">
                    <select name="inputState" class="form-control">
                        <option selected>Dates</option>
                        <option>Month</option>
                        <option>3 Months</option>
                        <option>6 Months</option>
                        <option>Year</option>
                        <option>All</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2 pt-3">
                <div class="form-group">
                    @Html.DropDownList("Employees", listofNames, "Workers", new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-2">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </div>
    </div>
}
    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <tr class="tblheader">
                <th class="headercolor">
                    @Html.DisplayNameFor(model => model.ID)
                </th>
                <th class="headercolor">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th class="headercolor">
                    @Html.DisplayNameFor(model => model.Day)
                </th>
                <th class="headercolor">
                    @Html.DisplayNameFor(model => model.Morning)
                </th>
                <th class="headercolor">
                    @Html.DisplayNameFor(model => model.Afternoon)
                </th>
                <th class="headercolor">
                    @Html.DisplayNameFor(model => model.Night)
                </th>
                <th class="headercolor">
                    @Html.DisplayNameFor(model => model.Dates)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Day)
                    </td>
                    <td>
                        @if (item.Morning == true)
                        {
                            <i class="fas fa-check"></i>
                        }
                    </td>
                    <td>
                        @if (item.Afternoon == true)
                        {
                            <i class="fas fa-check"></i>
                        }
                    </td>
                    <td>
                        @if (item.Night == true)
                        {
                            <i class="fas fa-check"></i>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dates)
                    </td>
                </tr>
            }
        </table>
    </div>
<br />