@model IEnumerable<ShiftManagerProject.Models.PrevWeeks>

@{
    ViewBag.Title = "LastWeek";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 0;
    DateTime lastSunday = DateTime.Now;
    while (lastSunday.DayOfWeek != DayOfWeek.Sunday)
    { lastSunday = lastSunday.AddDays(-1); }
    var lastSundays = Convert.ToDateTime(lastSunday).ToString("dd/MM/yyyy");

}

<br /><br />
<h2>Your shifts for Week - @lastSundays</h2>
<br /><br />


<div class='table-responsive'>
    @{
        int j = 0;
    }

    <table id="tablePreview" class="table table-hover table-bordered" style="width:100%;text-align:center;">
        <tr class="table-active">
            <th>
            </th>
            @foreach (var item in Model.Select(x => x.Day).Distinct())
            {
                <th>
                    @Html.DisplayFor(x => item)
                </th>
            }
        </tr>

        @foreach (var items in Model.Take(1))
        {
            <tr>
                <td class="table-info">
                    @Html.DisplayNameFor(model => model.Morning)
                </td>
                @foreach (var Mshift in Model.Where(x => x.Morning == true))
                {

                    if (Mshift.OfDayType == j)
                    {

                        j += 4;
                        if (@Html.Encode(Session["UserSess"]) == Mshift.Name)
                        {
                            <td class="table-info">
                                @Html.DisplayFor(model => Mshift.Name)
                            </td>
                        }
                        else
                        {
                            <td>
                                @Html.DisplayFor(model => Mshift.Name)
                            </td>
                        }

                    }
                }
            </tr>

            j = 1;
            <tr>
                <td></td>
                @foreach (var Mshift in Model.Where(x => x.Morning == true))
                {

                    if (Mshift.OfDayType == j)
                    {

                        j += 4;
                        if (@Html.Encode(Session["UserSess"]) == Mshift.Name)
                        {
                            <td class="table-info">
                                @Html.DisplayFor(model => Mshift.Name)
                            </td>
                        }
                        else
                        {
                            <td>
                                @Html.DisplayFor(model => Mshift.Name)
                            </td>
                        }


                    }
                }
            </tr>
        }
        @{ j = 2;}
        @foreach (var items in Model.Take(1))
        {
            <tr>
                <td class="table-success">
                    @Html.DisplayNameFor(model => model.Afternoon)
                </td>

                @foreach (var Ashift in Model.Where(x => x.Afternoon == true))
                {

                    if (Ashift.OfDayType == j)
                    {
                        j += 4;
                        if (@Html.Encode(Session["UserSess"]) == Ashift.Name)
                        {
                            <td class="table-info">
                                @Html.DisplayFor(model => Ashift.Name)
                            </td>
                        }
                        else
                        {
                            <td>
                                @Html.DisplayFor(model => Ashift.Name)
                            </td>
                        }
                    }

                }
            </tr>
        }
        @{ j = 3;}

        @foreach (var items in Model.Take(1))
        {
            <tr>
                <td class="table-warning">
                    @Html.DisplayNameFor(model => model.Night)
                </td>
                @foreach (var Nshift in Model.Where(x => x.Night == true).OrderBy(m => m.OfDayType))
                {

                    if (Nshift.OfDayType == j)
                    {
                        j += 4;
                        if (@Html.Encode(Session["UserSess"]) == Nshift.Name)
                        {
                            <td class="table-info">
                                @Html.DisplayFor(model => Nshift.Name)
                            </td>
                        }
                        else
                        {
                            <td>
                                @Html.DisplayFor(model => Nshift.Name)
                            </td>
                        }
                    }
                }
            </tr>
        }

    </table>
</div>

<script>
    window.onload = function () {
        if (!window.location.hash) {
            window.location = window.location + '#loaded';
            window.location.reload(true);
        }
    };
</script>



